@media (max-width: 1200px)
    .container
        max-width: 960px

@media (max-width: 992px)
    .container 
        max-width: 700px
    .navbar
        &-top 
            padding: 30px 0
        &__logo
            width: 132px
        &__search 
            margin-left: 47px
        &-bottom
            padding: 22px 0
        &-menu 
            &__list
                justify-content: space-around
                font-size: 12px
                line-height: 15px
    .search
        &__input 
            max-width: 340px

@media (max-width: 767px)
    .container 
        max-width: 576px
        width: 92%
    .navbar
        &__search, &__user, &-bottom
            display: none
        &__logo
            width: 132px
        
    .menu-button 
        width: 16px
        height: 11px
        display: flex
        flex-direction: column
        justify-content: space-between
        border: none
        background-color: $light
        &__line
            width: 16px
            height: 1px
            background-color: $text-color


@media (max-width: 600px)
    .container
        max-width: 600px
    .rating
        display: none

        
@media (max-width: 480px)
    .container 
        max-width: 480px
        width: 88%
    .navbar
        &__logo
            width: 99px
            height: 14px
        &-top
            min-height: 70px
            // padding: 28px 0
            padding-top: 24px
    .breadcrumb 
        min-height: 50px

    .hotel 
        padding-top: 0
        padding-bottom: 40px
        &-info
            &__text
                // width: 100%
                position: relative
            &__wrapper
                flex-direction: column-reverse
                align-items: flex-start
            &__offer
                margin-left: 0
                margin-bottom: 10px
            &__stars
                position: absolute
                right: 17px
                top: 11px    
