@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider 
            width: 61% 
    .activities
        &__card
            width: 23.5%
            
@media (max-width: 992px)
    .container, .newsletter__wrapper
        max-width: 700px
    .navbar
        &-top 
            padding: 30px 0
        &__logo
            width: 132px
        &__search 
            margin-left: 47px
        &-bottom
            padding: 22px 0
        &-menu 
            &__list
                justify-content: space-around
                font-size: 12px
                line-height: 15px
    .search
        &__input 
            max-width: 340px
    
    .hotel
        padding-bottom: 57px
        &-grid
            flex-direction: column
            &__wrapper
                flex-direction: row
                margin-top: 30px
        &-slider
            width: 100%
            &__button
                height: 30px
                width: 28.85px
    .booking
        width: 48.5%
        padding: 29px 22px 24px 23px
    .map
        width: 48.5%

    .newsletter
        padding-top: 92px
        padding-bottom: 93px

    .reviews
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 49px
        &-slider
            &__slide
                &-inner
                    max-width: 579px
                    padding: 0 60px 30px 64px
                    background: $light
            &__button
                top: 46%
                &--prev
                    left: 0
                &--next
                    right: 0

    .activities
        padding-top: 50px
        &__wrapper
            flex-wrap: wrap
        &__card
            width: 48.5%
            padding: 24px 16% 24px 26px
            // padding: 24px 107px 24px 26px
            margin-bottom: 20px



@media (max-width: 767px)
    .container, .newsletter__wrapper
        max-width: 576px
        width: 92%
    .navbar
        &__search, &__user, &-bottom
            display: none
        &__logo
            width: 132px
        
    .menu-button 
        width: 16px
        height: 11px
        display: flex
        flex-direction: column
        justify-content: space-between
        border: none
        background-color: $light
        &__line
            width: 16px
            height: 1px
            background-color: $text-color
        
    .hotel
        &-slider
            height: 380px
    
    .newsletter
        &__wrapper
            flex-direction: column
            align-items: flex-start
        &__text
            margin-bottom: 37px

    .reviews
        &-slider
            &__slide
                &-inner
                    padding: 0 29px 36px 33px
            &__button
                top: 32px
                &--prev
                    left: 50%
                    margin-left: -92px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    margin-right: -92px
                    transform: translate(50%, 0)

@media (max-width: 600px)
    .container, .newsletter__wrapper
        max-width: 480px
    .rating
        display: none

    .hotel
        &-slider
            height: 320px
            &__button
                width: 11.5px
                height: 12px
                &-icon
                    width: 3.8px
                    height: 7px
                &--prev
                    left: 6.1px
                &--next
                    right: 6.8px
        &-grid
            &__wrapper
                flex-direction: column
                margin-top: 20px
            &__map
                margin-top: 20px
    .booking
        width: 100%
    .map
        width: 100%

    .newsletter
        padding-top: 76px
        padding-bottom: 83px
        &__subtitle
            font-size: 20px
            line-height: 25px
        &__title
            font-size: 30px
            line-height: 38px

    .reviews
        &__title
            font-size: 25px
            line-height: 33px
    .activities 
        &__card
            width: 100%
            padding-right: 18%
            &:nth-of-type(1)
                order: 1
            &:nth-of-type(2)
                order: 3
            &:nth-of-type(3)
                order: 2
                margin-bottom: 28px
            &:nth-of-type(4)
                order: 4

                 
                


        
@media (max-width: 480px)
    .container, .newsletter__wrapper 
        max-width: 480px
        width: 88%
    .navbar
        &__logo
            width: 99px
            height: 14px
        &-top
            min-height: 70px
            padding-top: 24px
    .breadcrumb 
        min-height: 50px

    .hotel 
        padding-top: 0
        padding-bottom: 40px
        &-info
            &__text
                position: relative
            &__wrapper
                flex-direction: column-reverse
                align-items: flex-start
            &__offer
                margin-left: 0
                margin-bottom: 10px
            &__stars
                position: absolute
                right: 17px
                top: 11px 
        &-grid
            padding-top: 19px     
        &-slider
            height: 230px
    .booking
        &__call
            &-link
                margin-right: 4px
    .map
        height: 210px

    .reviews
        &__title
            font-size: 18px
            line-height: 23px
            margin: 0 auto
            margin-bottom: 43px
        &-slider
            &__slide
                &-inner
                    padding: 0 36px 36px 33px
            &__profile
                &-avatar
                    margin-bottom: 9px
            &__text
                text-align: left
    .activities
        padding-top: 2px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px


    
@media (max-width: 400px)
    .hotel 
        &-slider
            height: 179px
    .map
        height: 172px

    .newsletter
        &__subtitle
            margin-bottom: 5px
    .subscribe
        width: 100%
        &__input
            padding-left: 20px


    
